.hint {
  font-style: italic;
}

#panel1 {
    background-color: red;
    height: 75%;
    width: 75%; 
    overflow: auto;   
}

#panel [data-role=header] {    
    background-color: blue;
}

#panel1 [data-role=content] {
    background-color: blueviolet;
}

#panel1 [data-role=footer] {
    background-color: olive;
    height: 25px;
}

#panel2 {
    background-color: yellow;
    height: 250px;
    width: 500px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 5px;
}