.wizard {
  background-color: salmon;
  height: 400px;
  width: 500px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 50px 1fr 50px;
  grid-template-areas: "wizard__title wizard__title" "wizard__nav wizard__content" "wizard__nav wizard__content" "wizard__nav wizard__footer";
}

.wizard__title {
  background-color: skyblue;
  grid-area: wizard__title;
}

.wizard__title,
.wizard-content-inner-container__title {
  margin: 0 10px;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wizard__nav {
  background-color: red;
  grid-area: wizard__nav;
  padding: 10px;
}

.wizard__content {
  background-color: olive;
  grid-area: wizard__content;
}

.wizard__footer {
  background-color: yellow;
  grid-area: wizard__footer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.wizard__footer input:not(:last-child) {
  margin-right: 5px;
}

.wizard-content-outer-container {
  height: 100%;
}

.wizard-content-outer-container .active {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100%;
}

.wizard-content-inner-container__title {
  background-color: salmon;
}

.wizard-content-inner-container__content {
  background-color: white;
  overflow: auto;
  padding: 10px;
}

.wizard__footer input[disabled] {
  opacity: 0.5;
}