#table1 td {
    width: 200px;
    height: 50px;
}

table td.editing, table td.editing .element_to_input {
    background-color: yellow;
}

table td.invalid, table td.invalid .element_to_input {
    background-color: red;
}